K3S_TOKEN="{{ k3s_cluster_agent_secret | default(hostvars[groups['master'][0]]['token']) }}"
K3S_URL="https://{{ k3s_cluster_bootstrap_node }}:{{ k3s_listening_port | default('6443')}}"
{% for env, value in k3s_agent_systemd_env_vars.items() %}
{% if value | type_debug == 'int' %}
{{ env }}={{ value }}
{% else %}
{{ env }}="{{ value }}"
{% endif %}
{% endfor %}
